/*.green > p{
background-color: green;
}

.green{
display: none;
padding: 0.5em;
}

.red > p{
background-color: red;
}

.red{
padding: 0.5em;
display: none;
}

.gameover > p{
background-color: black;
color:red;
}

.gameover{
padding: 0.5em;
display: none;
}*/

#box{
display: flex;
justify-content: center;
margin-top: 10em;
}
#container {
border: 5px solid lightBlue;
font-size: 30px;
padding: 10px;
text-align: center;
height: 260px;
width: 600px;
background-color: rgb(22, 22, 60);
color: white;
}

#guessField{
width: 170px;
height: 23px;
}